* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
}

header {
    background-color: darkcyan;
    height: 75px;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    & h1 {
        width: 60%;
        margin: 0 auto;
        color: white;
    }
}

main {
    height: calc(100vh - 125px);
    padding: 2rem;
}

#mainWrap {
    width: 60%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

#dice {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;

    border: 3px solid black;
    border-radius: .5rem;

}

#btnRoll {
    width: 100px;
    padding: .3rem;
    
    background-color: transparent;
    border: 2px solid darkkhaki;
    border-radius: .5rem;

    transition: all 800ms ease-in-out;

    position: relative;
    z-index: 1;

    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: aquamarine;
        opacity: 0;

        z-index: -1;
    }

    &:active:after {
        top: 0;
        left: 0;
        opacity: 1;
        transition: 0s;
    }

    &:hover {
        border: 2px solid cyan;
        cursor: pointer;
    }
}

footer {
    height: 50px;
    background-color: #333;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}