* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: oswald;
}

body {
    background-color: #333;
}

header {
    background-color: darkcyan;
    height: 75px;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    & h1 {
        width: 60%;
        margin: 0 auto;
        color: white;
    }
}

main {
    height: calc(100vh - 125px);
    padding: 2rem;
}

#mainWrap {
    width: 60%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:root {
    --dice-width: 150px;
}

.box {
    transform-style: preserve-3d;

    aspect-ratio: 1/1;
    width: var(--dice-width);
    margin-bottom: 4rem;

    position: relative;

    transform: rotate3d(1, 0, 0, -180deg);
}

.side {
    position: absolute;
    aspect-ratio: 1/1;
    width: var(--dice-width);

    padding: 1rem;
    display: grid;
}

.front {
    background-color: rgba(0, 128, 0);
    transform: translateZ(calc(var(--dice-width) / -2));
}

.back {
    background-color: rgba(0, 0, 255);
    transform: translateZ(calc(var(--dice-width) / 2));
}

.right {
    background-color: rgba(255, 0, 0);
    transform: translateX(calc(var(--dice-width) / 2)) rotateY(90deg);
}

.left {
    background-color: rgba(255, 166, 0);
    transform: translateX(calc(var(--dice-width) / -2)) rotateY(-90deg);
}

.top {
    background-color: rgba(255, 105, 180);
    transform: translateY(calc(var(--dice-width) / 2)) rotateX(90deg);
}

.bottom {
    background-color: rgba(255, 255, 0);
    transform: translateY(calc(var(--dice-width) / -2)) rotateX(-90deg);
}

.dot {
    aspect-ratio: 1/1;
    width: 25px;
    background-color: black;

    border-radius: 50%;

    align-self: center;
    justify-self: center;
}

.one {
    grid-template-rows: repeat(1, 100%);
    grid-template-columns: repeat(1, 100%);
}

.two {
    grid-template-columns: repeat(2, 50%);
}

.three {
    grid-template-columns: repeat(3, 33.33%);
}

.four {
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(2, 50%);
}

.five-six {
    grid-template-rows: repeat(3, 33.33%);
    grid-template-columns: repeat(2, 50%);
}

#btnRoll {
    width: 100px;
    padding: .3rem;
    
    background-color: transparent;
    border: 2px solid darkkhaki;
    border-radius: .5rem;

    transition: border 300ms ease-in-out;

    position: relative;
    overflow: hidden;

    &::after {
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:100%;

        opacity: 0;
        background-color: orangered;
        border-radius: .5rem;
        z-index: -1;

        transition: all 3500ms;  
    }

    &:enabled:active::after {
        left: 0;
        opacity: 1;
        transition: 0s;
    }

    &:hover {
        border: 2px solid turquoise;
        cursor: pointer;
    }
}

footer {
    height: 50px;
    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}