* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
}

header {
    background-color: darkcyan;
    height: 75px;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    & h1 {
        width: 60%;
        margin: 0 auto;
        color: white;
    }
}

main {
    height: calc(100vh - 125px);
    padding: 2rem;
}

#mainWrap {
    width: 60%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

#dice {
    margin-bottom: 1rem;

    border: 3px solid black;
    border-radius: .5rem;

}

#btnRoll {
    width: 100px;
    padding: .3rem;
    
    background-color: transparent;
    border: 2px solid darkkhaki;
    border-radius: .5rem;
}

footer {
    height: 50px;
    background-color: #333;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}