* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
    font-size: 14px;
}

body {
    min-width: 300px;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    background: #272727;

    & h1 {
        margin-bottom: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;

        color: aliceblue;
        font-size: 2rem;
    }

    .main {
        width: 100%;
        height: calc(100vh - (40px + 2.5rem));
    }
}

body .uinfo { 
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: center;

    .uname {
        width: 80%;
        max-width: 300px;
        margin: 0 auto;
        padding: .5rem;
        border-radius: .4rem;
        box-shadow: none;
        border: none;

        font-family: Impact;

        &:focus {
            outline: none;
        }
    }
}

body .main .intro {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

body .main .catgs {
    margin-bottom: 3rem;
    display: flex;
    gap: .6rem;
    place-content: center;

    .catg {
        width: 100%;
        max-width: 168px;
        padding: .6rem .4rem;
        border: 2px solid lightgoldenrodyellow;
        border-radius: .5rem;
        box-shadow: none;

        display: flex;
        flex-direction: column;
        align-items: center;

        color:aliceblue;

        transition: border 400ms ease-in-out, box-shadow 300ms ease-in-out;

        &:hover {
            cursor: pointer;
            border: 2px solid dodgerblue;
            box-shadow: 0 0 5px 3px dodgerblue;
        }
    }

    & img {
        margin-bottom: .4rem;
        border-radius: .5rem;
        aspect-ratio: 1/1;
        width: 40px;
    }

    & h5 {
        margin-bottom: .5rem;
    }

    & p {
        text-align: center;
        font-size: .9rem;
    }
}

body .main .hiscore-wrap, .nextFlagQz {
    width: 80%;
    margin: 0 auto;
    max-width: 300px;

    .hiscores, .btnNextFlagQz {
        width: 100%;
        padding: .4rem;
        border: none;
        border-radius: .4rem;
        background: palegreen;

        font-size: 1.2rem;
        font-weight: 600;

        cursor: pointer;
    }
}

@media(min-width: 768px){
    * {
        font-size: 16px;
    }

    body {
        width: 80%;
        max-width: 600px;
        margin: 0 auto;

        .main {
            height: calc(100vh - (100px + 2.5rem));
        }
    }

    body h1 {
        height: 100px;
        font-size: 3rem;
    }

    body .uinfo {
        margin-bottom: 2.5rem;
    }

    body .main .intro {
        & p {
            font-size: 1.2rem;
        }
    }

    body .main .catgs {
        gap: 2rem;

        .catg {
            padding: 1rem;
        }
    }

    body .main .hiscore-wrap {
        .hiscores {
            width: 100%;
            padding: .4rem;
            border: none;
        }
    }
}