.info {
    color: aliceblue;
    margin-bottom: 1rem;
    
    & h5 { 
        font-weight: 400;
        text-align: center;
    }

    .strikes {
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            height: 30px;
        }
    }
}

.mainplay {
    display: flex;
    flex-direction: column;
}

.playflag {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    height: 100px;

    & img {
        height: 100%;
    }
}

.playChoices {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-bottom: 1rem;
    cursor: pointer;

    .choice {
        background: #ccc;
        display: flex;
        gap: 1rem;

        align-items: center;

        .lbl {
            padding: .5rem 1rem;
            background: darkturquoise;
        }
    }

    .choice:hover {
        background: #fff;

        .lbl {
            background-color: turquoise;
        }
    }
}

body .mainplay .nextFlagQz {
    width: 80%;
    margin: 0 auto;
    max-width: 300px;
    margin-bottom: 1rem;

    #btnNxtFlagQz {
        width: 100%;
        padding: .4rem;
        border: none;
        border-radius: .4rem;
        background: darkturquoise;

        font-size: 1.2rem;
        font-weight: 600;

        cursor: pointer;
    }
}

body .mainplay h5 {
    color: goldenrod;
    font-weight: 400;
    text-align: center;
}

@media(min-width: 1024px){
    body h1 {
        margin-bottom: .5rem;
    }

    .info, .playflag {
        margin-bottom: .4rem;
    }

    body .mainplay .nextFlagQz {
        margin-bottom: .5rem;
    }
}