body h2 {
    color: aliceblue;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.mainresults {
    height: calc(100vh - 200px);
    padding: 0 1rem;
    overflow-y:auto;
}

.result {
    border: 3px solid #cacaca;
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: .3rem;

    display: flex;

    & h5 {
        color: aliceblue;
    }
}

.correctAns {
    border: 3px solid lightgreen;
}

.wrongAns {
    border: 3px solid lightpink;
}

.correctRx {
    width: 50%;
    text-align: center;
}

.answerRx {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: end;
}